{{- range .Values.dependencies -}}
{{- $disabled := .disabled | default false -}}
{{- if not $disabled -}}
{{- $syncPolicy := deepCopy $.Values.applicationDefaults.syncPolicy | mergeOverwrite (.syncPolicy | default dict) }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ .alias | default .name | quote }}
  namespace: '{{ .Values.argocdNamespace }}'
  {{- if not (default false .addFinalizer) -}}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  {{- end }}
spec:
  destination:
    name: in-cluster
    namespace: {{ include "name" $ | quote }}
  project: {{ include "name" $ | quote }}
  sources:
    {{- if .name }}
    - repoURL: {{ $.Values.projectRepoURL }}
      targetRevision: HEAD
      ref: self
    {{- end }}
    {{- with .additionnalSources }}
    {{- tpl (toYaml .) $ | nindent 2 }}
    {{- end }}
    - repoURL: {{ .repository | quote }}
      targetRevision: {{ .version | quote }}
      {{- with .name }}
      chart: {{ tpl . $ | quote }}
      {{- end }}
      {{- with .path }}
      path: {{ tpl . $ | quote }}
      {{- end }}
      {{- with .helm }}
      helm: {{ tpl (toYaml .) $ | nindent 6 }}
      {{- end }}
  {{- with .ignoreDifferences }}
  ignoreDifferences: {{ tpl (toYaml .) $ | nindent 4 }}
  {{- end }}
  syncPolicy: {{ tpl (toYaml $syncPolicy) $ | nindent 4 }}
{{- end }}
{{- end }}
