{{- range .Values.dependencies -}}
{{- $disabled := .disabled | default false -}}
{{- if not $disabled -}}
{{- $syncPolicy := deepCopy $.Values.applicationDefaults.syncPolicy }}
{{- $syncPolicy := .syncPolicy | default dict | mergeOverwrite $syncPolicy }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ tpl (.alias | default .name) $ | quote }}
  namespace: {{ $.Values.argocdNamespace | quote }}
  {{- if not (default false .addFinalizer) }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  {{- end }}
spec:
  destination:
    name: in-cluster
    namespace: {{ include "name" $ | quote }}
  project: {{ include "name" $ | quote }}
  sources:
    {{- if .name }}
    - repoURL: {{ $.Values.projectRepoURL }}
      targetRevision: HEAD
      ref: self
    {{- end }}
    {{- with .additionnalSources }}
    {{- tpl (toYaml .) $ | nindent 2 }}
    {{- end }}
    - repoURL: {{ tpl .repository $ | quote }}
      targetRevision: {{ tpl .version $ | quote }}
      {{- with .name }}
      chart: {{ tpl . $ | quote }}
      {{- end }}
      {{- with .path }}
      path: {{ tpl . $ | quote }}
      {{- end }}
      {{- with .helm }}
      helm: {{ tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
  {{- with .ignoreDifferences }}
  ignoreDifferences: {{ tpl (toYaml .) $ | nindent 4 }}
  {{- end }}
  syncPolicy: {{ tpl (toYaml $syncPolicy) $ | nindent 4 }}
{{- end }}
{{- end }}
