apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ include "name" $ | quote }}
  namespace: {{ tpl (toYaml .Values.argocdNamespace) $ | quote }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  description: {{ tpl (toYaml .Values.description) $ | quote }}
  {{- with (concat .Values.sourceRepos .Values.additionalSourceRepos) }}
  sourceRepos: {{- tpl (toYaml .) $ | nindent 2 }}
  {{- end }}
  destinations:
  {{- range .Values.destinations }}
  - {{ include "destination" (dict "dest" . "root" $) | nindent 4 }}
  {{- end }}
  {{- range .Values.additionalDestinations }}
  - {{ include "destination" (dict "dest" . "root" $) | nindent 4 }}
  {{- end }}
  {{- with (concat .Values.clusterResourceWhitelist .Values.additionalClusterResourceWhitelist) }}
  clusterResourceWhitelist: {{- tpl (toYaml .) $ | nindent 2 }}
  {{- end }}
  {{- with (concat .Values.namespaceResourceWhitelist .Values.additionalNamespaceResourceWhitelist) }}
  namespaceResourceWhitelist: {{- tpl (toYaml .) $ | nindent 2 }}
  {{- end }}
  orphanedResources:
    warn: {{ .Values.orphanedResources.warn }}
  {{- with .Values.roles }}
  roles: {{- tpl (toYaml .) $ | nindent 2 }}
  {{- end }}
  {{- with .Values.syncWindows }}
  syncWindows: {{- tpl (toYaml .) $ | nindent 2 }}
  {{- end }}
  permitOnlyProjectScopedClusters: {{ .Values.permitOnlyProjectScopedClusters }}
  {{- with .Values.sourceNamespaces }}
  sourceNamespaces: {{- tpl (toYaml .) $ | nindent 2 }}
  {{- end }}
  