# Chart.yaml
apiVersion: v2
name: project
description: project Helm Chart that deploys a pg-cluster
type: application
version: 1.0.8
appVersion: 1.0.0

dependencies:
  - name: k8s-store
    repository: https://nvalembois.github.io/charts
    version: 1.0.4
    condition: k8s-store.create

